<h1>Edit exisitng Todo</h1>
<% if @todo.errors.any? %>
	<h2>Folllowing are the errors</h2>
	<ul>
		<% @todo.errors.full_messages.each do |msg| %>
		<li>
			<b><%= msg %><b>
		</li>
		<% end %>
	</ul>
<% end %>

<%= form_for @todo do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</P>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %><br>
	</p>	

	<P>
		<%= f.submit %>
	</P>
<% end %>